<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="layout/head :: headFragment"></th:block>
  <style>
    .board_list > div > div{display: flex;margin:10px 0;}
    .board_list > div > div span:first-child{width:52px;}
    .board_list > div > div span:last-child{width:calc(100% - 52px);}
  </style>
<body>
<th:block th:replace="layout/header :: headerFragment"></th:block>
<script th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function(){

    // ** 댓글 쓰기 버튼 클릭 이벤트 (ajax로 처리)
    $("#btnReply").click(function(){
      let replytext=$("#replytext").val();
      let bno = /*[[${dto.bno}]]*/

      let param="replytext="+replytext+"&bno="+bno;
      $.ajax({
        type: "post",
        url: "/reply/insert",
        data: param,
        success: function(){
          $("#replytext").val('');
          alert("댓글이 등록되었습니다.");
          listReply2();
        }
      });
    });

    const idKey = /*[[${dto.bno}]]*/
    $("#btnDelete").click(function(){
      if(confirm("삭제하시겠습니까?")){
        window.location = "/board/delete?bno="+idKey;
      }
    });

    $("#btnUpdate").click(function(){
      window.location = "/board/update?bno="+idKey;
    });

    const url = document.location.href.split("&");

    const curPage = url[1];
    const searchOption = url[2];
    const keyword = url[3];

    $("#btnList").click(function(){
      location.href="/board/list?"+curPage+"&"+searchOption+"&"+keyword;
    });

    // RestController방식 (Json)
    // **댓글 목록 (json)
    function listReply2(){
      $.ajax({
        type: "get",
        //contentType: "application/json", ==> 생략가능(RestController이기때문에 가능)
        url: "/reply/listJson?bno="+idKey,
        success: function(result){
          console.log(result);
          let output = "<p style='font-size:18px;font-weight: 600;line-height:22px;margin-bottom:10px;'>댓글</p>";
          output += "<table style='width:100%;'>";
          for(let i in result){
            output += "<tr style='margin-bottom:6px;padding-bottom:6px;border-bottom:1px solid #ddd;display: block;'>";
            output +=   "<td style='display: block;width:100%;'>" + result[i].username + " (" + result[i].regdate + ")<br>";
            output +=   "<pre style='width:100%;white-space: pre-wrap;word-break: break-word;max-height:250px;overflow-y: auto;'>" + result[i].replytext + "</pre>";
            output +=   "</td>";
            output += "<tr>";
          }
          output += "</table>";
          $("#listReply").html(output);
        }
      });
    }
    listReply2(); // ** json 리턴방식
  });
  /*]]>*/
</script>
<div class="container">
  <h2>게시글 보기</h2>
  <h2>[[${session.userNickName}]]</h2>
  <div class="board_list">
    <div th:if="${#lists.size(dto)} > 0">
      <div>
        <span>작성일 : </span>
        <span th:text="${#dates.format(dto.regdate,'yyyy년 MM월 dd일 a hh:mm:ss')}">작성일</span>
      </div>
      <div>
        <span>조회수 : </span>
        <span th:text="${dto.viewcnt}">조회수</span>
      </div>
      <div>
        <span>제목 : </span>
        <span th:text="${dto.title}" style="padding:0 10px;">제목</span>
      </div>
      <div>
        <span style="padding:10px 0;">내용</span>
        <pre th:text="${dto.content}" style="border:1px solid #ddd;padding:10px;line-height:20px;width:calc(100% - 52px);white-space: pre-wrap;word-wrap:break-word;overflow: hidden">내용</pre>
      </div>
      <div>
        <span>작성자</span>
        <span th:text="${dto.writer}">작성자</span>
      </div>
    </div>
  </div>
  <th:block th:if="${session.userId == dto.writer}">
    <button type="button" id="btnUpdate">수정</button>
    <button type="button" id="btnDelete">삭제</button>
  </th:block>
    <button type="button" id="btnList">목록</button>
    <div style="width:100%; text-align: center;">
      <br>
      <!-- **로그인 한 회원에게만 댓글 작성폼이 보이게 처리 -->
      <div th:if="${session.userId != null}">
        <textarea rows="5" cols="80" id="replytext" placeholder="댓글을 작성해주세요" style="width:100%;height:80px;resize: none;"></textarea>
        <br>
        <button type="button" id="btnReply">댓글 작성</button>
      </div>
    </div>
    <!-- **댓글 목록 출력할 위치 -->
    <div id="listReply" style="margin-top:20px;"></div>
</div>

</body>
</html>