<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="layout/head :: headFragment"></th:block>
  <style>
    .board_list > div > div{display: flex;margin:10px 0;}
    .board_list > div > div span:first-child{width:52px;}
    .board_list > div > div span:last-child{width:calc(100% - 52px);}
  </style>
<body>
<th:block th:replace="layout/header :: headerFragment"></th:block>
<script th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function(){
    const idKey = /*[[${dto.bno}]]*/;
    $("#btnReply").click(function(){
      replyJson(); // json 형식으로 입력
    });
    function replyJson(){
      var replytext=$("#replytext").val();
      var bno = idKey;
      $.ajax({
        type: "post",
        url: "/reply/insertRest",
        headers: {
          "Content-Type" : "application/json"
        },
        dateType: "text",
        data: JSON.stringify({
          bno : bno,
          replytext : replytext
        }),
        success: function(){
          $("#replytext").val('');
          alert("댓글이 등록되었습니다.");
          listReplyRest("1"); // Rest 방식
        }
      });
    }

    $("#btnDelete").click(function(){
      if(confirm("삭제하시겠습니까?")){
        window.location = "/board/delete?bno="+idKey;
      }
    });

    $("#btnUpdate").click(function(){
      window.location = "/board/update?bno="+idKey;
    });

    const url = document.location.href.split("&");

    const curPage = url[1];
    const searchOption = url[2];
    const keyword = url[3];

    $("#btnList").click(function(){
      location.href="/board/list?"+curPage+"&"+searchOption+"&"+keyword;
    });

    function listReplyRest(){
      $.ajax({
        type: "get",
        url: "/reply/list/"+idKey,
        success: function(result){
          // responseText가 result에 저장됨.
          $("#listReply").html(result);
        }
      });
    }
    listReplyRest("1");
  });
  /*]]>*/
</script>
<div class="container">
  <h2>게시글 보기</h2>
  <h2>[[${session.userNickName}]]</h2>
  <div class="board_list">
    <div th:if="${#lists.size(dto)} > 0">
      <div>
        <span>작성일 : </span>
        <span th:text="${#dates.format(dto.regdate,'yyyy년 MM월 dd일 a hh:mm:ss')}">작성일</span>
      </div>
      <div>
        <span>조회수 : </span>
        <span th:text="${dto.viewcnt}">조회수</span>
      </div>
      <div>
        <span>제목 : </span>
        <span th:text="${dto.title}" style="padding:0 10px;">제목</span>
      </div>
      <div>
        <span style="padding:10px 0;">내용</span>
        <pre th:text="${dto.content}" style="border:1px solid #ddd;padding:10px;line-height:20px;width:calc(100% - 52px);white-space: pre-wrap;word-wrap:break-word;overflow: hidden">내용</pre>
      </div>
      <div>
        <span>작성자</span>
        <span th:text="${dto.writer}">작성자</span>
      </div>
    </div>
  </div>
  <th:block th:if="${session.userId == dto.writer}">
    <button type="button" id="btnUpdate">수정</button>
    <button type="button" id="btnDelete">삭제</button>
  </th:block>
    <button type="button" id="btnList">목록</button>
    <div style="width:100%; text-align: center;">
      <br>
      <!-- **로그인 한 회원에게만 댓글 작성폼이 보이게 처리 -->
      <div th:if="${session.userId != null}">
        <textarea rows="5" cols="80" id="replytext" placeholder="댓글을 작성해주세요" style="width:100%;height:80px;resize: none;"></textarea>
        <br>
        <button type="button" id="btnReply">댓글 작성</button>
      </div>
    </div>
    <!-- **댓글 목록 출력할 위치 -->
    <div id="listReply" style="margin-top:20px;"></div>
</div>

</body>
</html>