<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="layout/head :: headFragment"></th:block>
<script>
  window.onload=function(){
    const btnLogin = document.getElementById("btnLogin");
    btnLogin.addEventListener("click",function(){
      // 태크.val() : 태그에 입력된 값
      // 태크.val("값") : 태그의 값을 변경
      let userId = $("#userId").val();
      let userPw = $("#userPw").val();
      if(userId == ""){
        alert("아이디를 입력하세요.");
        $("#userId").focus(); // 입력포커스 이동
        return; // 함수 종료
      }
      if(userPw == ""){
        alert("비밀번호를 입력하세요.");
        $("#userPw").focus();
        return;
      }
      // 폼 내부의 데이터를 전송할 주소
      document.form1.action="/user/loginCheck"
      // 제출
      document.form1.submit();
    });
  };
</script>
<body>
<th:block th:replace="layout/header :: headerFragment"></th:block>
<h2>로그인</h2>
<form name="form1" method="post">
  <table class="board_list">
    <tr>
      <td>아이디</td>
      <td><input type="text" name="userId" id="userId"></td>
    </tr>
    <tr>
      <td>비밀번호</td>
      <td><input type="password" name="userPw" id="userPw"></td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <button type="button" id="btnLogin">로그인</button>
        <div th:if="${msg == 'failure'}">
          <div style="color: red">
            아이디 또는 비밀번호가 일치하지 않습니다.
          </div>
        </div>

        <div th:if="${msg == 'logout'}">
          <div style="color: red">
            로그아웃되었습니다.
          </div>
        </div>
      </td>
    </tr>
  </table>
</form>
</body>
</html>