<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="layout/head :: headFragment"></th:block>
<body>
<th:block th:replace="layout/header :: headerFragment"></th:block>
<div class="container">
    <h2>회원 목록</h2>
    <a href="/user/write" style="float:left;padding:10px 20px; border:1px solid #656565;margin-bottom:10px;border-radius:10px;cursor:pointer;">회원등록</a>
    <table class="board_list">
        <thead>
        <tr>
            <th scope="col">아이디</th>
            <th scope="col">이름</th>
            <th scope="col">닉네임</th>
            <th scope="col">이메일</th>
            <th scope="col">가입일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.size(user)} > 0" th:each="board : ${user}">
            <td><a th:href="@{/user/view(userId=${board.userId})}" th:text="${board.userId}"></a></td>
            <td><a th:href="@{/user/view(userId=${board.userId})}" th:text="${board.userName}"></a></td>
            <td><a th:href="@{/user/view(userId=${board.userId})}" th:text="${board.userNickName}"></a></td>
            <td><a th:href="@{/user/view(userId=${board.userId})}" th:text="${board.userEmail}"></a></td>
            <td><a th:href="@{/user/view(userId=${board.userId})}" th:text="${board.userRegDate}"></a></td>
        </tr>
        <tr th:unless="${#lists.size(user)} > 0">
            <td colspan="5">조회 결과가 없습니다.</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>