<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mapper.ReplyMapper">

    <!-- 댓글 입력 -->
    <insert id="create">
        INSERT INTO tb_reply (bno, reply_text, replyer, reg_date, user_name)
        VALUES (#{bno}, #{replytext}, #{replyer}, NOW(), #{username})
    </insert>

    <!-- 댓글 목록 -->
    <select id="list" resultType="com.example.board.domain.ReplyDTO">
        SELECT rno, bno, reply_text, replyer, r.user_name, r.reg_date, r.update_date
        FROM tb_reply r, tb_user u
        WHERE  r.replyer = u.user_id AND bno=#{bno}
        ORDER BY reg_date DESC
    </select>

    <!-- 댓글 삭제 -->
    <delete id="delete">
        DELETE FROM tb_reply WHERE rno = #{rno}
    </delete>

    <!-- 댓글 수정 -->
    <update id="update">
        UPDATE tb_reply
        SET reply_text = #{replytext}
        WHERE rno = #{rno}
    </update>

    <!-- 댓글 상세 -->
    <select id="detail" resultType="com.example.board.domain.ReplyDTO">
        SELECT rno, bno, reply_text, replyer, reg_date, update_date
        FROM tb_reply
        WHERE rno = #{rno}
    </select>
</mapper>