<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mapper.UserMapper">
    <select id="loginCheck" resultType="int">
        SELECT count(*) FROM tb_user
        WHERE user_id = #{userId} AND user_pw = #{userPw}
    </select>

    <select id="viewUsers" resultType="com.example.board.domain.UserDTO">
        SELECT
            user_name,
            user_id,
            user_email,
            user_regdate
        FROM
            tb_user
        WHERE
            user_id = #{userId} AND user_pw = #{userPw}
    </select>

    <select id="userList" resultType="com.example.board.domain.UserDTO">
        SELECT user_id, user_name, user_nick_name, user_email, user_regdate, user_update_date
        FROM tb_user
        ORDER BY user_id
    </select>

    <insert id="insertUser">
        INSERT INTO tb_user
            (user_id, user_pw, user_name, user_nick_name, user_email, user_regdate)
        VALUES
            (#{userId}, #{userPw}, #{userName}, #{userNickName}, #{userEmail}, NOW())
    </insert>

    <select id="viewUser" resultType="com.example.board.domain.UserDTO">
        SELECT *
        FROM tb_user
        WHERE user_id = #{userId}
    </select>

    <update id="updateUser">
        UPDATE tb_user
        SET
            user_pw = #{userPw},
            user_nick_name = #{userNickName},
            user_email = #{userEmail},
            user_update_date = NOW()
        WHERE
            user_id = #{userId}
    </update>

    <delete id="deleteUser">
        DELETE FROM tb_user
        WHERE user_id = #{udsrId}
    </delete>

    <select id="checkPw" resultType="boolean">
        SELECT
            COUNT(*)
        FROM tb_user
        WHERE user_id = #{userId} AND user_pw = #{userPw}
    </select>
</mapper>